.auth {
    background-image: url('../../../images/auth-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay {
    background: rgb(10,10,14);
    background: linear-gradient(67deg, rgba(10,10,14,1) 50%, rgba(6,6,8,0.8911939775910365) 59%, rgba(2,12,14,0.7259278711484594) 89%);
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
}

/* NAV */
.nav_form {
    display: flex;
    align-items: center;
    gap: 50px;
    color: #fff;
    padding: 3rem 0;
}

.nav_form .circle {
    background-color: #3345a3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    left: 30px;
}

.nav_form ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* FORM */
.form_section {
    max-width: 600px;
    color: #fff;
    margin: 100px 0;
}

.form_section h4 {
    text-transform: uppercase;
    color: #999;
    font-size: 1.4rem;
}

.form_section h1 {
    font-size: 4.5rem;
    font-weight: 900;
    font-family: Arial;
    margin: 10px 0;
}

.form_section span {
    color: #999;
    display: block;
    margin-bottom: 30px;
}

.form_container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.input_container {
    display: block;
    width: 100%;
    position: relative;
}

.input {
    padding: 1.5rem 1.5rem 1.5rem 3.3rem;
    width: 100%;
    margin-top: 10px;
    background-color: #24292f;
    border: 1px solid #212333;
    color: #fff;
    border-radius: 6px;
}

.button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1.2rem 2.5rem 1.2rem 1rem;
    background-color: #305cc2;
    color: #fff;
    border: 1px solid #3345a3;
    margin: 30px 0;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    opacity: .7;
}

.input_icons {
    position: absolute;
    top: 26px;
    left: 10px;
    color: #888;
}

.icon {
    font-size: 2.3rem;
}

/* User Details */
.details {
    margin: 50px 0;
    color: #fff;
}

.details h1 {
    font-size: 4rem;
    font-family: Poppins;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}

.details .user_details {
    margin: 30px 0;
    border-bottom: 1px solid #333;
}

.details .user_details .form_container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.details .user_details .form_container .input_container label {
    display: block;
    margin-bottom: 15px;
}

.details .user_details .form_container .input_container input {
    width: 100%;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: #24292f;
    border: 1px solid #212333;
    color: #fff;
    border-radius: 6px;
}

.details .user_details button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 1.5rem;
    width: 100px;
    font-weight: 900;
    border-radius: 5px;
    margin: 30px 0;
    cursor: pointer;
    border: none;
    background-color: #305cc2;
    color: #fff;
    transition: .3s;
}

.details .user_details button:hover {
    opacity: .7;
}

/* User image */
.user_image {
    width: 200px;
}

.user_image .image {
    position: relative;
    width: 200px;
    height: 180px;
}

.user_image img {
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-radius: 6px;
}

.user_image #image {
    display: none;
}

.user_image #profileLoading {
    position: absolute;
    top: 40%;
    left: 40%;
}

.user_image label {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #305cc2;
    color: #fff;
    transition: .3s;
}

.user_image label:hover {
    opacity: .7;
}

.btns {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    gap: 15px;
}

#submit_btn, #back_btn {
    padding: 1.5rem;
    width: 150px;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: .3s;
}

#submit_btn {
    background-color: #305cc2;
}

#submit_btn:disabled {
    background-color: #111;
    pointer-events: none;
    color: #555;
}

#back_btn {
    background-color: transparent;
    color: #305cc2;
    border: 1px solid #305cc2;
}

#submit_btn:hover,
#back_btn:hover {
    opacity: .7;
}