.create_post {
    height: 100%;
}

.create_post .blog_title {
    width: 100%;
    display: flex;
    gap: 30px;
    margin: 50px 0 30px 0;
}

.create_post .blog_title .input_container input {
    width: 100%;
    border-radius: 6px;
    background-color: #111;
    border: 1px solid #333;
    padding: 1.5rem;
    color: #fff;
    font-size: 2rem;
}

.create_post .blog_title button {
    padding: 1rem;
    width: 20%;
    border-radius: 6px;
    border: 1px solid #000;
    background-color: #637ccd;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.create_post .blog_title button:hover {
    opacity: .8;
}

/* Content */
.blog_content {
    display: flex;
    color: #fff;
    gap: 35px;
}

.blog_content .content {
    background-color: #0b0b0d;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    border: 1px solid #333;
}

.blog_content .content ul {
    display: flex;
    background-color: #111;
    border-radius: 6px;
}

.blog_content .content ul li {
    padding: 2rem 3rem;
    cursor: pointer;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.blog_content .content ul li.active {
    background-color: #0b0b0d;
    opacity: .8;
}

.blog_content .content ul li:hover {
    opacity: .7;
}

.blog_content .content .section {
    padding: 3rem;
}

.blog_content .content .section .input_container textarea {
    background-color: #111;
    border: 1px solid #222;
    resize: none;
    width: 100%;
    margin-top: 20px;
    height: 370px;
    border-radius: 6px;
    font-size: 1.5rem;
    padding: 2rem;
    color: #fff;
}

.blog_content .right {
    width: 20%;
}

.blog_content .right .author {
    background-color: #222;
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 6px;
}

.blog_content .right .author:hover {
    opacity: .8;
}

.blog_content .right .author img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border: 1px solid #111;
    border-radius: 3px;
}

/* ADD IMAGES SECTION */
.blog_content .section .image_section {
    display: flex;
    margin: 25px 0;
    gap: 30px;
}

 .blog_content .section .image_section .file_container #images {
    display: none;
}

.blog_content .section .image_section .file_container label {
    background-color: #0f0f0f;
    cursor: pointer;
    display: block;
    height: 150px;
    padding: 50px;
    width: 200px;
    border-radius: 5px;
}

.blog_content .section .image_section .file_container label:hover {
    opacity: .8;
}

.blog_content .section .image_section .file_container label span {
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

.blog_content .section .image_section .file_container label span:first-child {
    font-size: 3rem;
}

.blog_content .section .image_section .image {
    background-color: #000;
    width: 185px;
    height: 150px;
    border: 3px solid #222;
    border-radius: 6px;
}

.blog_content .section .image_section .image img {
    font-size: 3rem;
    color: #444;
    display: flex;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    width: 100%;
}

.blog_content .section p {
    float: right;
    margin-top: -5px;
    margin-right: -10px;
    color: #999;
}