.nav {
    background-color: #637ccd;
    color: #fff;
    padding: 2rem;
}

.nav .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .section ul {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 1.4rem;
}

.nav .section ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav .section ul li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.nav .section ul li a#register_btn {
    color: #000;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.nav .section ul li button {
    color: #000;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transition: .2s;
}

.nav .section ul li button:hover {
    opacity: .7;
}