* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Montserrat;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000;
  box-sizing: border-box;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

input:focus {
  outline: none;
  background-color: #11111c;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
}